<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Private Share Created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="body">
    <style media="screen">
      @font-face {
        font-family: 'CeraProModern';
        src: url('http://home.mycloud.com/fonts/medium.woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CeraProModern';
        src: url('http://home.mycloud.com/fonts/bold.woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CeraProModern';
        src: url('http://home.mycloud.com/fonts/regular.woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
    </style>

    <table border="0" cellpadding="0" cellspacing="0" class="table">
      <tbody>
        <tr>
          <td class="td-main-wrapper">
            <div class="div-main-wrapper">
              <table border="0" cellpadding="0" cellspacing="0" class="table">

                <!-- HEADING TEXT START -->
                <tr>
                  <td class="p-0">
                    <p class="p-main m-0 mb-8">Hi <%= name %>,</p>
                    <p class="p-main m-0 mb-16">I shared <a href="#" class="a-main" target="_blank"><%= count %></a> with you:</p>
                  </td>
                </tr>
                <!-- HEADING TEXT END -->

                <!-- MAIN CONTENT START -->
                <tr>
                  <td class="td-main-content">
                    <div class="div-main-content">
                      <table border="0" cellpadding="0" cellspacing="0" class="table">
                        <tr>
                          <td class="td-main-content-wrapper">

                            <!-- 1 file per block -->
                            <!-- INNER START -->
                            <a class="a-inner-wrapper" href="#" target="_blank">
                              <table border="0" cellpadding="0" cellspacing="0" class="table <% if (items.length === 1) { %> table-icon <% } %>">

                                <!-- if single file - check type -->
                                <% if (items.length === 1) { %>

                                  <!-- if has thumbnail - render image partial -->
                                  <% if (items[0].image) { %>
                                    <%- include('/private_share_2/partials/single/image.ejs', { item: items[0] }) %>

                                  <!-- if no thumbnail - render file partial -->
                                  <% } else { %>
                                    <%- include('/private_share_2/partials/single/file.ejs', { item: items[0] }) %>
                                  <% } %>

                                <!-- if multiple files - check types -->
                                <% } else { %>

                                  <!-- if same type - render same type partial -->
                                  <% if (
                                    items.every(i => i.folder) ||
                                    items.every(i => i.image) ||
                                    items.every(i => i.other)
                                  ) { %>
                                    <%- include('/private_share_2/partials/sametype/index.ejs', { items: items }) %>

                                  <!-- if not - render mixed content partial -->
                                  <% } else { %>
                                    <%- include('/private_share_2/partials/mixedtype/index.ejs', { items: items }) %>
                                  <% } %>
                                <% } %>

                              </table>
                            </a>
                            <!-- INNER END -->

                          </td>
                        </tr>

                        <tr>
                          <td class="ta-c td-button-wrapper">
                            <a href="#" class="a-button" target="_blank"><%= button %></a>
                          </td>
                        </tr>

                      </table>
                    </div>
                  </td>
                </tr>
                <!-- MAIN CONTENT END -->

                <!-- FOOTER TEXT START -->
                <tr>
                  <td class="ta-c td-footer-text">
                    <p class="p-main m-0 mb-10 fsz-14">
                      Your private online storage for all your photos, videos and files at home. <a href="https://wdc.com" class="a-main" target="_blank">Learn more about My Cloud Home</a>.
                    </p>
                  </td>
                </tr>
                <!-- FOOTER TEXT END -->

                <!-- MOBILE APPS & LEGACY START -->
                <tr>
                  <td class="p-0 ta-c">
                    <p class="p-main m-0 mb-20">
                      My Cloud Home mobile app
                    </p>
                    <p class="m-0 mb-26">
                      <a href="#" target="_blank" class="a-store">
                        <img width="147" height="40" src="../images/googleplay@2x.png" alt="" class="va-t">
                      </a>
                      <a href="#" target="_blank" class="a-store">
                        <img width="147" height="40" src="../images/applestore@2x.png" alt="" class="va-t">
                      </a>
                    </p>
                    <p class="p-main fsz-13">
                      <a href="https://wdc.com" target="_blank" class="td-n mb-8 d-ib">
                        <img width="114" height="30" src="../images/footer_logo@2x.png" alt="" class="va-t">
                      </a>
                      <br>
                      Western Digital<br>
                      5601 Great Oaks Parkway<br>
                      San Jose, CA 95119<br>
                      <a href="https://support.wdc.com" class="a-main">support.wdc.com</a>
                    </p>
                  </td>
                </tr>
                <!-- MOBILE APPS & LEGACY END -->

              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
