<tr>
  <td colspan="2" rowspan="2" class="td-cell-2x">
    <%- include('/partials/item2x.ejs', { item: items[0] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[1] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[2] }) %>
  </td>
</tr>

<tr>
  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[3] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[4] }) %>
  </td>
</tr>

<tr>
  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[5] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[6] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[7] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[8] }) %>
  </td>
</tr>

<tr>
  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[9] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[10] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[11] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[12] }) %>
  </td>
</tr>
